* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  *{
    font-size: x-large;
  }
}
a {
  color: black;
  text-decoration: none;
}
.titulo {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.corto {
  text-align: center;
}
.corto h1 {
  margin-top: 1rem;
}
.titulo span {
  color: grey;
}

.largo {
  display: none;
}
.navegacion {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  z-index: 1;
  position: absolute;
  background-color: white;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .encabezado {
    padding-top: 1rem;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .corto {
    display: none;
  }
  .largo {
    display: block;
  }
  .desplegable {
    display: none;
  }
  .navegacion {
    flex-direction: row;
    padding: 0;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  .Contacto {
    background-color: rgb(32, 54, 127);
    color: white;
    padding: 0.8rem;
    border-radius: 1rem;
  }
}

.desplegable {
  position: relative;
  left: 20px;
  bottom: 33px;
  height: 55px;
  cursor: pointer;
  width: 100%;
  font-size: x-large;
}

.slider {
  position: relative;
  display: inline-block;
  text-align: center;
}

.img-slider {
  width: 100%;
  height: 50%;
}
.fondo-color {
  background-color: rgb(243, 241, 241);
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(32, 54, 127, 0.897);
  padding: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: start;
  border-radius: 1rem;
}
.subtitulo {
  padding-bottom: 0.8rem;
}
.difuminado {
  color: rgb(138, 136, 136);
}
.boton {
  color: white;
  background-color: rgb(129, 129, 100);
  text-align: center;
  width: 40%;
  margin-top: 0.6rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
.boton:hover {
  background-color: rgb(80, 80, 69);
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .slider {
    margin-top: 1rem;
  }
  .img-slider {
    width: 100%;
    height: 500px;
  }
  .card {
    transform: none;
    left: 5%;
    top: 25%;
    width: 30%;
    display: flex;
    padding: 1.5rem 0rem 1.5rem 3rem;
  }
  .contenedor {
    width: 90%;
    margin: auto;
    height: auto;
  }
  .subtitulo {
    font-size: x-large;
  }
}
.iconos i {
  color: rgb(129, 129, 100);
  font-size: x-large;
  margin-bottom: 0.5rem;
}
.icono {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.icono h4 {
  margin-top: 0.5rem;
}
.icono p {
  color: rgb(88, 88, 88);
}

@media screen and (min-width: 768px) {
  .iconos {
    width: 90%;
    margin: auto !important;
    display: flex;
    padding-top: 3rem;
  }
  .icono {
    text-align: center;
    margin: 1rem;
  }
}

.our-company {
  background-image: url("../img/edificio.jpg");
  height: 15rem;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2rem;
}

.texto-company {
  display: flex;
  flex-direction: column;
  width: 78%;
  margin: auto;
  align-items: flex-end;
  text-align: end;
  height: 100%;
  justify-content: center;
}
.texto-company h4 {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .our-company {
    height: 30rem;
  }
  .texto-company {
    width: 40%;
    margin-inline-end: inherit;
    align-items: flex-start;
    text-align: start;
  }
  .texto-company p {
    width: 80%;
  }
}

.integrantes {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.integrantes img {
  object-fit: cover;
  width: 100%;
  height: 15rem;
  margin-top: 2rem;
  border-radius: 5%;
}

@media screen and (min-width: 768px) {
  .integrantes {
    flex-direction: row;
    justify-content: space-around;
  }
  .integrantes img {
    width: 30%;
  }
}

.our-proyects {
  padding-top: 2rem;
  width: 90%;
  margin: auto;
  text-align: center;
}

.our-proyects-texto {
  margin-bottom: 2rem;
}

.our-proyects-texto h4,
p {
  margin-bottom: 1rem;
}

.our-proyects-numero span {
  color: rgb(129, 129, 100);
  font-size: 4rem;
}

@media screen and (min-width: 768px) {
  .our-proyects {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .our-proyects-texto {
    width: 50%;
    margin-bottom: 0;
  }
  .our-proyects-numero span {
    font-size: 6rem;
  }
}

.send-request-img {
  display: none;
}
.send-request-text {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 15rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.send-request-text::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
      rgba(32, 54, 127, 0.897),
      rgba(32, 54, 127, 0.897)
    ),
    url("../img/people-walking.jpg");
  opacity: 0.7;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .send-request {
    display: flex;
  }
  .send-request-img {
    display: flex;
    flex: 1;
  }
  .send-request-text {
    flex: 1;
    height: 20rem;
  }

  .send-request-img img {
    object-fit: cover;
    width: 100%;
    height: 20rem;
  }
}

.septic-system {
  margin-top: 2rem;
}

.septic-system-img {
  display: none;
}

.septic-system-text {
  background-color: rgb(32, 54, 127);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1rem;
  align-items: center;
}
.septic-system-text h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.free-consultation {
  font-weight: bold;
  padding-top: 0.7rem;
}

.septic-system-text p {
  width: 90%;
  margin: auto;
  padding-top: 0.4rem;
  padding-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  align-items: center;
}
.form input {
  margin-bottom: 1rem;
  background-color: rgb(32, 54, 127);
  border-radius: 5px;
  border: 1px solid grey;
  padding: 0.4rem;
  width: 80%;
  text-align: center;
}

.form [type="submit"] {
  background-color: rgb(129, 129, 100);
  width: 45%;
  padding: 0.5rem;
  border-radius: 2rem;
  font-size: large;
}

input.error {
  border: 1px solid red;
  font-weight: 300;
  color: red;
}

@media screen and (min-width: 768px) {
  .septic-system {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .septic-system-img {
    display: flex;
    flex: 1;
  }
  .septic-system-img img {
    object-fit: cover;
    height: 33rem;
    width: 100%;
  }

  .septic-system-text {
    flex: 1;
  }
}

.our-clients {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 2rem;
}
.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 1rem;
}
.clients img {
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  width: 30%;
  height: 5rem;
  object-fit: contain;
}

@media screen and (min-width: 768px) {

  .our-clients h4{
    margin-bottom: 1rem;
  }

  .clients img {
    padding-bottom: 2rem;
  }
}
